@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $color-dark;
    background: $color-light;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    font-weight: 400;
    line-height: 1.6;
    color: $color-stone-grey;
}

a {
    text-decoration: none;
}